*{
    margin: 0;
    padding:0;
    font-family: 'Poppins','sans-serif';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: rgb(0, 0, 0);
    color: rgb(199, 173, 173);;
}
#header{
     width:100%;
     height: 100vh;
      background-image: url(images1/background2.png); 
     background-size: cover;
     background-position:center;
}
.container{
    padding: 10px 5%;
}
nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    flex-wrap: wrap;
}
.logo{
    width: 140px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin:10px 20px;

}
nav ul li a{
    color: rgba(201, 192, 192, 0.995);
    text-decoration:none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 2px;
    background:rgb(198, 41, 41);
    position:absolute;
    left:0;
    bottom:-6px;
    transition: .4s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%; 
    font-size: 24px;
    color: beige;
}
.header-text h1{
    margin-top: 45px;
}
.header-text h1 span{
    color: rgb(149, 11, 11); 
    font-size: 75px;
}
/*---------about-----------*/
#about{
    padding: 80px 0;
    color: beige ;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 20px;
}
.about-col-2{
    flex-basis: 60%;
}
.subtitile{
    font-size: 60px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight :500px; 
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: rgb(198, 41, 41);
    position: absolute;
    left:0;
    bottom: -6px;
    transition: .4s;
}
.tab-links.xyz::after{
    width: 40%;
}
.tabcontent ul li{
    list-style: none;
    margin: 5px 0;
}
.tabcontent ul li span{
    color: rgb(149, 11, 11);  
    font-size: 14px;
}
.tabcontent{
    display: none;
}
.tabcontent.activetab{
    display: block;
}
/*---------services-------------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
    grid-gap:40px ;
    margin-top: 50px;
}
.services-list div{
    background-color: rgb(33, 34, 34);
    padding: 40px;
    font-size:13px;
    font-weight: 300;
    border-radius: 100px;
    transition: background 0.4s, transform 0.5s ;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size:30px ;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: beige;
    margin-top:20px ;
    margin-bottom: 200px;
    font-size: 12px;
    display: inline-flexbox;
}
.services-list div:hover{
    background-color: rgb(197, 45, 45);
    transform: translateY(-10px);
}
/* ----------------------my Life------------------------ */
#life{
    padding: 60px,0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
    grid-gap:40px ;
    margin-top: 50px;
}
.work{
    border-radius: 100px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 100px;
    display: block;
    transition: transfrom 0.5s;
}
.layer{
    width: 100%;
    height:0%;
    background: linear-gradient(rgb(0,0,0,0.6),#c2174d);
    border-radius: 100px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
.layer:hover:after{
    height: 100%;
}
.layer h3{
    font-size: 24px;
    /* font-weight: 500p; */
    margin-bottom: 20px;
}
.layer p {
    font-size: 18px;
}
.work div p span{
    font-size: 12px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    font-size: 18px;
    text-decoration: none;
    line-height: 50px;
    background: #fff;
    width:50px;
    height: 50px;
    border-radius: 50%;
}
.work:hover img{
    transform: scale(2);
}
.work:hover .layer{
    height: 100%;
}
.btn a{
    display: block;
    margin: 50px auto;
    width: fit-content;
    text-decoration: none;
    border: 1px solid rgb(217, 107, 107) ;
    padding: 15px 30px;
    border-radius: 16px;
    color: aliceblue;
    transition: background 0.5s;
}
.btn{
    font-size: 15px;
}
.btn a:hover{
    background: #ae214e;

}
/* ----------------contact----------- */
.contact-left{
    flex-basis: 35%;
    margin-left: 50px;
    margin-top: 50px;
}
.contact-right{
    flex-basis: 60%;
    margin-top: 50px;
    
}

.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 25px;
    font-size: 20px;
}
.social-icons{
    margin-top: 20px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 10px;
    font-size: 25px;
    color: rgb(98, 93, 93);
    display: inline-block;
    transition: transform 0.5s;margin-bottom: 20px;
}
.social-icons a:hover{
    color: aqua;
    transform:translateY(-6px) ;
}
.btn2 a{
    display: block;
    margin: 50px auto;
    width: fit-content;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 16px;
    color: aliceblue;
    background: #ff004f;
    margin-left: 0;
}
.btn2 a i{
    margin-left: 5px;
    font-size: 20px;
}
.btn3{
    display: block;
    margin-top: -10px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 16px;
    color: rgb(195, 208, 220);
    background: #ff004f;
    font-size: 18px;
    cursor: pointer;
   
}
.contact-right form{
    width: 100%;
    margin-left: 100px;
}
nav .fas{
    display: none;
}
/* ---------------------for small screen------------ */
@media(max-width:600px){
    #header{
        background-image: url(images1/smallbackground.png);
    }
    .header-text p{
        font-size:18px;
    }
    .header-text{
        font-size:14px;
    }
    .header-text h1 span{
        color: rgb(149, 11, 11); 
        font-size: 55px;
    }
    .header-text h1{
        margin-top:20px ;
    }
    .logo{
        margin-top: 12px;
    }
    .about-col-2{
        font-size: 16px;
    }
    .contact-right form{
        width: 500px;
        margin-left: 40px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right:-300px;
        width:300px;
        height: 100vh;
        padding-top: 50px;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .about-col-1{
        flex-basis: 100%;
    }

}
/* ----------------------------------------------------------- */
form input,form textarea{
    width: 50%;
    border: 0;
    margin-bottom: 50px;
    outline: none;
    background: #262626;
    padding: 15px;
    color:#fff;
    font-size: 18px;
    border-radius: 6px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    background-image: url(images1/Safari-Classic.jpg);
    font-weight: 300;
    margin-top: 20px;
}
.copyright p{
    color: #ffffff;
}
.copyright i{
    color: #ff004f;
}
#msg{
    color: #61b752;
    margin-top: 10px;
    margin-left: 100px;
    display: block;
}

